body {
  background-color: darkgrey;
}

.content {
  text-align: center;
  margin-top: 180px;
}

.text {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.button {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
}

#maroon {
  margin-right: 20px;
  background-color: maroon;
}

#violet {
  margin-right: 20px;
  background-color: violet;
}

#indigo {
  margin-right: 20px;
  background-color: indigo;
}

#pink {
  margin-right: 20px;
  background-color: pink;
}

#grey {
  margin-right: 20px;
  background-color: darkgrey;
}

.custom {
  margin-top: 20px;
  color: white;
}

input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100px;
}

#submitButton {
  cursor: pointer;
  padding: 5px 24px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}
